*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: lavender;
}

.all-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.all-but-header{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 72px;
    margin-bottom: 72px;
}

.grid-container{
    display:flex;
    width: 550px;
    height: 550px;
    flex-wrap: wrap;
    border:2px solid black;
}

.box{
    border: 1px solid black;
    background-color: white; 
}

button{
    padding: 8px;
    color: yellow;
    background-color: purple;
    border: 2px solid black;
    border-radius: 8px;
    font-family: 'Silkscreen';
    font-weight: 700;
    width: 200px;
    font-size: 16px;
}

/* makes button appear pressed */
button:active {
    background: rgb(94,0,94);
    -webkit-box-shadow: inset 0px 0px 5px black;
       -moz-box-shadow: inset 0px 0px 5px black;
            box-shadow: inset 0px 0px 5px black;
     outline: none;
  }

h1{
    font-family: 'Silkscreen';
    font-size: 64px;
    margin: 24px;
}

.toolbar-and-grid{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.button-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 72px;
}

.top-toolbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 3px solid purple;
    border-radius: 16px;
    margin: 0px 16px;
    background-color: lightyellow;
    padding: 16px;
    font-size: 19px;
}

input.color{
    width: 200px;
    border: 2px solid black;
    background-color: lightyellow;
}


.color-picker{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: lightyellow;
}

.color-picker p{
    font-family: 'Silkscreen';
    margin: 0px;
    background-color: lightyellow;
}

.size-slider p{
    font-family: 'Silkscreen';
    background-color: lightyellow;
}

.size-slider{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightyellow;
}

input#range{
    width: 200px;
    accent-color: purple;
}

.current-mode{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    gap: 8px;
    background-color: lightyellow;
}

.current-mode p{
    font-family:'Silkscreen';
    background-color: lightyellow;
}

.footer{
    display:flex;
    background-color: purple;
    color: yellow;
    justify-content: center;
    align-items: center;
    padding: 24px;
    width: 100%;
    font-family: 'Silkscreen';
}

.footer a, .footer p{
    background-color: purple;
    color: yellow;
}