*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: lavender;
}

.all-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.grid-container{
    display:flex;
    width: 550px;
    height: 550px;
    flex-wrap: wrap;
    border:2px solid black;
}

.box{
    border: 1px solid black;
    background-color: white; 
}

button{
    padding: 8px;
    color: yellow;
    background-color: purple;
    border: 2px solid black;
    border-radius: 8px;
    font-family: 'Silkscreen';
    font-weight: 700;
    width: 200px;
}

h1{
    font-family: 'Silkscreen';
    font-size: 64px;
    margin: 36px;
}

.toolbar-and-grid{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
    width: 100%;
}

.button-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 72px;
}

.top-toolbar{
    display:flex;
    justify-content: center;
    align-items: center;
}

input.color{
    width: 200px;
}


.color-picker{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.color-picker p{
    font-family: 'Silkscreen';
}

